- var site_url      = 'http://example.com';
- var page_url      = site_url;
- var ogimage       = './assets/img/site-image.jpg';
- var site_name     = 'site name';
- var title         = 'site title';
- var description   = 'description';
- var keywords      = 'keyword, keyword, keyword';
- var robots        = 'index, follow';
- var analytics_id  = '********';
