doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    block title
      title Default Title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css")
    link(rel='stylesheet', href='./assets/css/style.css')
    include _shim
  body
    include _header
    block content
    include _footer
    include _script
